<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add to Database</title>
  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/add.css">
  <link rel="stylesheet" href="styles/header.css">
  <link rel="stylesheet" href="styles/footer.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Beth+Ellen|Cinzel|Lato:300|Patrick+Hand+SC&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="/styles/images/favicon.png">
  <script src="https://kit.fontawesome.com/bddc901376.js"></script>
</head>

<body>
    <%- include('../layout/header') %>

    <!-- TODO: Add form labels to church and pastor forms -->
  <main>
      <div id="add-to-database-box">
        <h1>Add to Database</h1>
        <p>Lorem ipsum dolor sit amet, sed in eius doctus epicurei, in omittam salutatus sea. Vidit aliquam usu no, et nec dictas expetenda. Eam in affert discere dolorum, dicam mentitum delectus eam ea, erant mediocrem pro ad. Quot solet eleifend sit et, dico menandri mei id. Has ex enim mandamus, diam oratio erroribus sea te.</p>

        <div class="button-container">

          <button class="add-church-button">
            <h2>Add a Church</h2>
            <i class="fas fa-church"></i>
          </button>
  
          <button class="add-pastor-button">
            <h2>Add a Pastor</h2>
            <i class="fas fa-user"></i>  
          </button>

        </div>

        <div class="button-container">

          <button class="add-minutes-button">
              <h2>Add Meeting Minutes</h2>
              <i class="fas fa-file-alt"></i>
          </button>

          <!-- <button class="add-budget-button">
              <h2>Add Annual Budget</h2>
              <i class="fas fa-dollar-sign"></i>
          </button> -->

          <button class="add-prayer-requests-button">
              <h2>Add Prayer Request</h2>
              <i class="fas fa-praying-hands"></i>
          </button>
        </div>
        <div>
        </div>

        <!-- TODO: Store form inputs in local storage until submit button?? -->
    
        <!-- ==================================================================== -->
        <!-- ==================================================================== -->
        <!-- ==================================================================== -->
        <!-- ==================================================================== -->
        
        <form class="add-church-form" action="/new-church" method="post">
          <!-- TODO: remove pink input outlines -->
          <div class="line-break"></div>

          <div class = "form-title">
            <h3><i class="fas fa-church"></i>Add a New Church to the Database</h3>
          </div>

          <p>Lorem ipsum dolor sit amet, sed in eius doctus epicurei, in omittam salutatus sea. Vidit aliquam usu no, et nec dictas expetenda.</p>

          <input type="text" name="name" placeholder="Church Name" required>

          <!-- TODO: decide if want to include default lat/long in tiny p tag under the input boxes since placeholder will disappear and is not copyable -->
          <input type="number" name="longitude" step="0.0000001" placeholder="Longitude (If Unknown Use: 122.9719454)" required>

          <input type="number" name="latitude" placeholder="Latitude (If Unknown Use: 10.8001204)" step="0.0000001" pattern = "^(\-?\d+(\.\d+)?)$" required>

          <input type="text" name="location" pattern = "^(\-?\d+(\.\d+)?)$" placeholder="Location" required>

          <input type="number" name="church_members" placeholder="Number of Adults" required>

          <input type="number" name="sunday_school" placeholder="Number of Children" required>

          <input type="number" name="pre_school" placeholder="Number of Preschool Children" required>

          <input type="number" name="feeding_program" placeholder="Number of Feeding Program Children OR NA" required>
          
          <textarea name="description" placeholder="Church Description" cols="30" rows="5" required></textarea>

          <textarea name="community" placeholder="Community Description" cols="30" rows="5" required></textarea>
          
          <button type="submit">Add to Database</button>
      </form>
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
      <form class="add-pastor-form" action="/new-pastor" method="post">

        <!-- TODO: remove pink input outlines -->

        <div class="line-break"></div>

        <div class = "form-title">
          <h3><i class="fas fa-user"></i>Add a New Pastor to the Database</h3>
        </div>

          <p>Lorem ipsum dolor sit amet, sed in eius doctus epicurei, in omittam salutatus sea. Vidit aliquam usu no, et nec dictas expetenda.</p>
          
          <p class="note">Note: If the Pastor is associated with a new church, the church must be added to the database first</p>

        <input type="text" name="pastor_first_name" placeholder="Pastor First Name" required>

        <input type="text" name="pastor_last_name" placeholder="Pastor Last Name" required>

        <input type="text" name="spouse" placeholder="Spouse First Name" required>

        <span class="dropdown-el">
          <input type="radio" name="church_id" value="1" checked="checked" id="Unaffiliated"><label for="Unaffiliated">Select a Church</label>

          <% distinctChurches.forEach(distinctChurch => { %>
            <input type="radio" name="church_id" value="<%= distinctChurch.id %>" id="<%= distinctChurch.id %>"><label id="church-<%= distinctChurch.id %>" for="<%= distinctChurch.id %>"><%= distinctChurch.name %> - <%= distinctChurch.location %></label>
          <% }) %>
        </span>

        <textarea type="text" name="pastor_story" placeholder="Pastors Story" required></textarea>

        <textarea type="text" name="spouse_story" placeholder="Spouses Story" required></textarea>

        <input type="url" name="image_url" placeholder="URL from Imgur or Other Online Image" required>

        <textarea type="text" name="family_marriage" placeholder="Family and/or Marriage Story" required></textarea>
        
        <textarea type="text" name="prayer_needs" placeholder="Prayer Needs" cols="30" rows="5" required></textarea>

        <!-- TODO: add a field to get church options as a span -->
        
        <button type="submit">Add to Database</button>
      </form>

<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->

<form class="add-minutes-form" action="/new-minutes" method="post">

  <div class="line-break"></div>

  <div class = "form-title">
    <h3><i class="fas fa-file-alt"></i>Add New Meeting Minutes to the Database</h3>
  </div>

    <p>Lorem ipsum dolor sit amet, sed in eius doctus epicurei, in omittam salutatus sea. Vidit aliquam usu no, et nec dictas expetenda.</p>
  
  <div class="line-break"></div>

  <div>
    <div id="date">
      <label>Date of Meeting: </label>
      <input type="date" name="date" placeholder="MM/DD/YYYY" required>
    </div>
    <div id="time">
      <label>Start Time: </label>
      <input type="text" name="start_time" placeholder="12:00 AM" required>
      <label>End Time: </label>
      <input type="text" name="end_time" placeholder="12:00 AM" required>
    </div>
    <div id="meeting-location">
      <label>Location of Meeting:</label>
      <input type="text" name="venue" placeholder="Name of Venue" required>
      <label>Meeting Host:</label>
      <input type="text" name="meeting_host" placeholder="Name" required>
    </div>
    <div id="other-people">
        <label>Presiding Officer:</label>
        <input type="text" name="presiding_officer" placeholder="Name" required>
        <label>Minutes Recorded By:</label>
        <input type="text" name="minutes_taken_by" placeholder="Name" required>
      </div>
  </div>

  <div class="line-break"></div>

  <h3>Meeting Attendees</h3>

  <div class="line-break"></div>

  <div class="attendees">
    
    <ol id="attendee-list">
      <li><input type="text" name="attendees" placeholder="Attendee Name" required></li>
      <li><input type="text" name="attendees" placeholder="Attendee Name"></li>
      <li><input type="text" name="attendees" placeholder="Attendee Name"></li>
      <li><input type="text" name="attendees" placeholder="Attendee Name"></li>
    </ol>

    <button id="add-attendee"class="add">Add Additional Attendees</button>

  </div>

  <div class="line-break"></div>

  <h3>Introductory Information</h3>

  <div class="line-break"></div>

  <div id="general">
    <div class="general-row">
      <h3>Opening Prayer By:</h3>
      <input type="text" name="opening_prayer_by" placeholder="Name" required>
    </div>
    <div id="sharing">
      <h3>Sharing of God's Word By:</h3>
      <input type="text" name="gods_message_by" placeholder="Name" required>
    </div>
    <div class="announcements">
      <h3>Initial Announcements:</h3>
      <textarea type="text" name="general_notes" placeholder="Notes" cols="30" rows="3" required></textarea>
    </div>
    <div class="announcements">
        <h3>Agenda:</h3>
        <textarea type="text" name="agenda" placeholder="Agenda" cols="30" rows="3" required></textarea>
      </div>
  </div>

  <div class="line-break"></div>

  <h3>Individual Church Reporting</h3>

  <div class="line-break"></div>

  <div id="church-report-container">
    <% churchList.forEach(church => { %>
      <div class="church-report">
        <% if(church.id !== 1) { %>
          <div>

            <h4>Pastor <%=church.pastor_first_name %> <%= church.pastor_last_name %></h4>
            <h6><%= church.name %>, <%= church.location %></h6>

          </div>
          <div class="report">

            <h6>Report:</h6>

            <input type="hidden" name="church_id" value="<%= church.church_id %>" id="<%= church.church_id %>">
            <input type="hidden" name="church_name" value="<%= church.name %>">
            <input type="hidden" name="church_pastor" value="<%=church.pastor_first_name %> <%= church.pastor_last_name %>">
    
            <textarea type="text" name="report" placeholder="Report" cols="30" rows="5" required></textarea>

          </div>
  
          <div class="prayer-requests" id="<%= church.church_id %>">

            <h6>Prayer Requests:</h6>
          
            <ol id="list-prayer-<%= church.church_id %>" >
              <li><input type="text" name="prayer_requests<%= church.church_id %>" placeholder="Prayer Request" required></li>
              <li><input type="text" name="prayer_requests<%= church.church_id %>" placeholder="Prayer Request" required></li>
            </ol>
      
            <button id="prayer-<%= church.church_id %>" class="prayer-add">Add More Prayer Requests</button>
          </div>
        <% } %>
      </div>
    <% }) %>
  </div>

  <div class="line-break"></div>

  <h3>Other Matters</h3>

  <div class="line-break"></div>

  <div id="other-matters">
    <ol id="other-matters-list">
      <li><input type="text" name="other_matters" placeholder="Other Matters" required></li>
      <li><input type="text" name="other_matters" placeholder="Other Matters" ></li>
    </ol>
    <button class="add-more">Add Additional Items</button>
  </div>

  <div class="line-break"></div>
  <h3>Closing</h3>
  <div class="line-break"></div>

  <div id="closing">
    <div>
      <h6>Next Meeting Information</h6>
      <div>
        <label>Date:</label>
        <input id="date-input" type="date" name="next_meeting" placeholder="MM/DD/YYYY" required>
        <label>Time:</label>
        <input type="text" name="next_time" placeholder="12:00 AM" required>
      </div>
      <div>
        <label>Location:</label>
        <input type="text" name="next_location" placeholder="Name of Venue" required>
      </div>
      <div>
          <label>Location Host:</label>
          <input type="text" name="next_location_host" placeholder="Name" required>
      </div>
    </div>
    <div class="line-break"></div>
    <div id="closing-prayer">
      <h3>Closing Prayer By:</h3>
      <input type="text" name="closing_prayer_by" placeholder="Name" required>
    </div>
  </div>
  <div class="line-break"></div>
  <button type="submit">Add to Database</button>
</form>

<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->

<form class="add-prayer-requests-form" action="/new-prayer" method="post">
  <!-- TODO: remove pink input outlines -->
  <div class="line-break"></div>

  <div class = "form-title">
    <h3><i class="fas fa-praying-hands"></i>Add a New Prayer Request to the Database</h3>
  </div>

  <p>Lorem ipsum dolor sit amet, sed in eius doctus epicurei, in omittam salutatus sea. Vidit aliquam usu no, et nec dictas expetenda.</p>

  <input type=hidden name="date" value="<%=new Date()%>" required>

  <textarea name="prayer" placeholder="Prayer Request" cols="30" rows="5" required></textarea>
  
  <button type="submit">Add to Database</button>
</form>

    </div>
  </main>
  <%- include('../layout/footer') %>
</body>

</html>