<!DOCTYPE html>
<html lang="en">

<head>
    <title>All Churches</title>
  <%- include('../layout/head') %>
  <link rel="stylesheet" href="../../styles/list.css">
</head>

<body>
  <%- include('../layout/header') %>
  <main>
    <div class="all">
      <div>
          <h1>
            <i class="fas fa-church"></i>
          </h1>
          <h1>All Churches</h1>
      </div>
      <!-- TODO: Handle singluar vs plural when rendering -->
      <h6>There are currently <%=churches.length-1 %> churches saved in the database</h6>
      <ul class= "object-list">
        <% churches.forEach(church => { %>
          <!-- TODO: Setup a redirect from church/1 to all_churches -->
          <% if(church.name === 'Unassigned'){ %> 
          <% } else { %>
          <li>
            <h3><%= church.name %> - <%= church.location %></h3>
            <div class="buttons">
              <button><a href="/church/<%= church.id %>">Details</a></button>
              <!-- TODO: Add href links for update and delete routes/functionality -->
              <button><a>Update</a></button>
              <form action="/church/<%=church.id%>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete">
              </form>
            </div>
          </li>
          <% } %>
        <% }) %>
      </ul>
    </div>
  </main>

  <%- include('../layout/footer') %>
</body>

</html>