<section id="single-church" class="single-church-info">
  <div class="church-info-title">
    <i class="fas fa-church church-icon"></i>
    <h2><%= church.name %></h2>
  </div>
  <div class="church-info">
    <!-- TODO: Link Pastors Table as a display field -->
    <h6><%= church.location %></h6>
    <img id="map" src="<%= church.map_url %>"/>
    <div class="info-container">
      <div id="coordinates">
        <h3>GPS Data</h3>
        <h6>Latitude: <%= church.latitude %></h6>
        <h6>Longitude: <%= church.longitude %></h6>
      </div>
      <div id="congregation-stats">
        <h3>Congregation Statistics</h3>
        <ul>
          <li><%= church.church_members %> Adults</li>
          <li><%= church.sunday_school %> Sunday School Children</li>
          <li><%= church.pre_school %> Preschool Children</li>

          <% if(church.feeding_program !== 'NA'){ %> 
            <li id="feeding"><%= church.feeding_program %> Feeding Program Children</li>
          <% } %>
          
        </ul>
      </div>
    </div>
    <div class="details">

      <div>
        <h3>Description</h3>
        <% for(let i = 0 ; i < church.description.length ; i++) { %>
          <p><%= church.description[i] %></p> 
        <% } %>
      </div>
      <div>
          <h3>Community</h3>
            <% for(let i = 0 ; i < church.community.length ; i++) { %>
          <p><%= church.community[i] %></p> 
          <% } %>
      </div>

    </div>
  </div>
  <div class="detail-buttons">
      <!-- TODO: Fix consistent styling on the update button -->
    <button>Update</button>
    <form action="/church/<%=church.id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
</section>

<section id="single-church-edit-form" class="single-church-info hide-me">
  <form action="/church/edit/<%= church.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="church-info-title">
      <i class="fas fa-church church-icon"></i>
      <h2>Name: <input type="text" name="church.name" value="<%= church.name %>"></h2>
    </div>
    <div class="church-info">
      <!-- TODO: Link Pastors Table as a display field -->
      <h6>Location: <input type="text" name="location" value="<%= church.location %>"></h6>

      <img id="map" src="<%= church.map_url %>"/>
      <div class="info-container">
        <div id="coordinates">
          <h3>GPS Data</h3>
          <h6>Latitude: <input type="text" name="latitude" value="<%= church.latitude %>"></h6>
          <h6>Longitude: <input type="text" name="longitude" value="<%= church.longitude %>"></h6>
        </div>
        <div id="congregation-stats">
          <h3>Congregation Statistics</h3>
          <ul>
            <li><input type="text" name="church_members" value="<%= church.church_members %>"> Adults</li>
            <li><input type="text" name="sunday_school" value="<%= church.sunday_school %>"> Sunday School Children</li>
            <li><input type="text" name="pre_school" value="<%= church.pre_school %>"> Preschool Children</li>
            <li><input type="text" name="feeding_program" value="<%= church.feeding_program %>"> Feeding Program Children</li>
            
          </ul>
        </div>
      </div>
      <div class="details">
  
        <div>
          <h3>Current Description in Database</h3>
          <% for(let i = 0 ; i < church.description.length ; i++) { %>
            <p><%= church.description[i] %></p> 
          <% } %>

          <textarea type="text" name="description" cols="30" rows="10"><%=church.description.join('999999').replace(/999999/g , '\r\n\r\n') %></textarea>

        </div>
        <div>
            <h3>Current Community Description in Database</h3>
              <% for(let i = 0 ; i < church.community.length ; i++) { %>
            <p><%= church.community[i] %></p> 
            <% } %>

            <textarea type="text" name="community" cols="30" rows="5" ><%=church.community.join('999999').replace(/999999/g , '\r\n\r\n') %></textarea>
        </div>
  
      </div>
    </div>
    <div class="detail-buttons">
        <!-- TODO: Fix consistent styling on the update button -->
        <button type="submit">Save Changes</button>
        <input type="hidden" name="_method" value="DELETE">
        <button id="cancel-change">Cancel</button>
      </form>
    </div>
  </section>