<section id="single-pastor" class="single-pastor-info">
    <div class="pastor-info-title">
      <i class="fas fa-user pastor-icon"></i>
      <h2>Pastor <%= pastor.pastor_first_name %> <%= pastor.pastor_last_name %></h2>
    </div>
  <div class="pastor-info">
    <!-- TODO: Link Church Name Table as a display field -->
    <h6>Spouse: <%= pastor.spouse %> <%= pastor.pastor_last_name %></h6>
    <img id="photo" src="<%= pastor.image_url %>"/>
    
  </div>
    <div class="details">

      <div>
        <h3>Affiliated Church</h3>
        <div class="church-name-and-location">
          <h6><%= church.name %></h6>
          <p><%= church.location %></p>
        </div>
        <h3>Our Stories</h3>
        <div>
          <h6>Pastor <%= pastor.pastor_first_name %> <%= pastor.pastor_last_name %></h6>

          <% for(let i = 0 ; i < pastor.pastor_story.length ; i++) { %>
          <p><%= pastor.pastor_story[i] %></p> 
          <% } %>
        </div>

        <div>
          <h6><%= pastor.spouse %> <%= pastor.pastor_last_name %></h6>

          <% for(let i = 0 ; i < pastor.spouse_story.length ; i++) { %>
            <p><%= pastor.spouse_story[i] %></p> 
            <% } %>
        </div>
        <div>
          <h6>Marriage and Family</h6>

          <% for(let i = 0 ; i < pastor.family_marriage.length ; i++) { %>
            <p><%= pastor.family_marriage[i] %></p> 
            <% } %>
        </div>
      </div>
      <div id="prayer-needs">
        <h3>Prayer Needs</h3>
        <ul>
          <% for(let i = 0 ; i < pastor.prayer_needs.length ; i++) { %>
          <li><%= pastor.prayer_needs[i] %></li> 
          <% } %>
        </ul>
      <!-- </div> -->
    </div>
      <!-- <div class="info-container"> -->

    </div>
  </div>
  <div class="detail-buttons">
    <!-- TODO: Fix consistent styling on the update button -->
    <button>Update</button>
    <form action="/pastor/<%=pastor.id%>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
</section>

<section id="single-pastor-edit-form" class="single-pastor-info hide-me">
  <form action="/pastor/edit/<%= pastor.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <div class="pastor-info-title">
      <i class="fas fa-user pastor-icon"></i>
      <h2>Pastor <input type="text" name="pastor_first_name" value="<%= pastor.pastor_first_name %>"> <input type="text" name="pastor_last_name" value="<%= pastor.pastor_last_name %>"></h2>
    </div>
  <div class="pastor-info">
    <!-- TODO: Link Church Name Table as a display field -->
    <h6>Spouse: <input type="text" name="spouse" value="<%= pastor.spouse %>"> <%= pastor.pastor_last_name %></h6>
    <img id="photo" src="<%= pastor.image_url %>"/>
    <input type="text" name="image_url" value="<%= pastor.image_url %>">
  </div>
    <div class="details">

      <div>
        <h3>Affiliated Church</h3>
        <div class="church-name-and-location">
          <h6>Current Selection in Database</h6>
          <p><%= church.name %> - <%= church.location %></p>
          <span class="dropdown-el">
              <input type="radio" name="church_id" value="<%= church.id %>" checked="checked" id="<%= church.church_id %>"><label for="<%= church.church_id %>"><%= church.name %> - <%=church.location %></label>
    
              <% churches.forEach(churchItem => { %>
                <% if (church.id !== churchItem.id) { %>
                  <input type="radio" name="church_id" value="<%= churchItem.id %>" id="<%= churchItem.id %>"><label id="church-<%= churchItem.id %>" for="<%= churchItem.id %>"><%= churchItem.name %> - <%= churchItem.location %></label>
                <% } %>
              <% }) %>
            </span>
        </div>
        <h3>Our Stories</h3>
        <div>
          <h6>Current Story for Pastor <%= pastor.pastor_first_name %> <%= pastor.pastor_last_name %> in Database</h6>

          <% for(let i = 0 ; i < pastor.pastor_story.length ; i++) { %>
          <p><%= pastor.pastor_story[i] %></p> 
          <% } %>

          <textarea type="text" name="pastor_story" cols="30" rows="5"><%=pastor.pastor_story.join('999999').replace(/999999/g , '\r\n\r\n') %></textarea>
        </div>

        <div>
          <h6>Current Story for <%= pastor.spouse %> <%= pastor.pastor_last_name %> in Database</h6>

          <% for(let i = 0 ; i < pastor.spouse_story.length ; i++) { %>
            <p><%= pastor.spouse_story[i] %></p> 
            <% } %>

            <textarea type="text" name="spouse_story" cols="30" rows="5"><%=pastor.spouse_story.join('999999').replace(/999999/g , '\r\n\r\n') %></textarea>

        </div>
        <div>
          <h6>Current Marriage and Family Story in Database</h6>

          <% for(let i = 0 ; i < pastor.family_marriage.length ; i++) { %>
            <p><%= pastor.family_marriage[i] %></p> 
            <% } %>

            <textarea type="text" name="family_marriage" cols="30" rows="10"><%=pastor.family_marriage.join('999999').replace(/999999/g, '\r\n\r\n') %></textarea>
        </div>
      </div>
      <div id="prayer-needs">
        <h3>Prayer Needs</h3>
        <h6>Current List of Prayer Needs</h6>
        <ul>
          <% for(let i = 0 ; i < pastor.prayer_needs.length ; i++) { %>
          <li><%= pastor.prayer_needs[i] %></li> 
          <% } %>
        </ul>
        <textarea type="text" name="prayer_needs" cols="30" rows="10"><%=pastor.prayer_needs.join('999999').replace(/999999/g, '\r\n\r\n') %></textarea>
    </div>
      <!-- <div class="info-container"> -->

    </div>
  </div>
  <div class="detail-buttons">
    <!-- TODO: Fix consistent styling on the update button -->
    <button type="submit">Save Changes</button>
    <button id="cancel-change">Cancel</button>
    </form>
  </div>
</form>
</section>