<section id="single-pastor-info">
    <div class="pastor-info-title">
      <i class="fas fa-user pastor-icon"></i>
      <h2>Pastor <%= pastor.pastor_first_name %> <%= pastor.pastor_last_name %></h2>
    </div>
  <div class="pastor-info">
    <!-- TODO: Link Church Name Table as a display field -->
    <h6>Spouse: <%= pastor.spouse %> <%= pastor.pastor_last_name %></h6>
    <img id="map" src="<%= pastor.image_url %>"/>
  </div>
    <div class="details">

      <div>
        <h3>Our Stories</h3>
        <div>
          <h6>Pastor <%= pastor.pastor_first_name %> <%= pastor.pastor_last_name %></h6>

          <% for(let i = 0 ; i < pastor.pastor_story.length ; i++) { %>
          <p><%= pastor.pastor_story[i] %></p> 
          <% } %>
        </div>

        <div>
          <h6><%= pastor.spouse %> <%= pastor.pastor_last_name %></h6>

          <% for(let i = 0 ; i < pastor.spouse_story.length ; i++) { %>
            <p><%= pastor.spouse_story[i] %></p> 
            <% } %>
        </div>
        <div>
          <h6>Marriage and Family</h6>

          <% for(let i = 0 ; i < pastor.family_marriage.length ; i++) { %>
            <p><%= pastor.family_marriage[i] %></p> 
            <% } %>
        </div>
      </div>
      <div id="prayer-needs">
        <h3>Prayer Needs</h3>
        <ul>
          <% for(let i = 0 ; i < pastor.prayer_needs.length ; i++) { %>
          <li><%= pastor.prayer_needs[i] %></li> 
          <% } %>
        </ul>
      <!-- </div> -->
    </div>
      <!-- <div class="info-container"> -->

    </div>
  </div>
  <div class="detail-buttons">
    <button>Update</button>
    <button>Delete</button>
  </div>
</section>